@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<main class="main">
    <section class="container section section-first">
        <div class="row">
            <div class="col-12">
                <h1 class="title title--h1 js-lines">Liên hệ.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-contact js-scroll-show">
                <h4 class="title title--h4">Địa chỉ</h4>
                <p class="paragraph">Thủ dầu một<br /> Bình Dương</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-contact js-scroll-show">
                <h4 class="title title--h4">Liên hệ</h4>
                <p class="paragraph">phamtiensy8696@gmail.com<br>+84 967223302</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-contact js-scroll-show">
                <h4 class="title title--h4">Theo dõi chúng tôi</h4>
                <p class="paragraph">Kết nối với chúng tôi qua <a class="link-underline" href="https://www.facebook.com/">facebook</a>,<br><a class="link-underline" href="https://twitter.com/">twitter</a> hoặc <a class="link-underline" href="https://www.instagram.com/">instagram</a></p>
            </div>
        </div>
    </section>

    <!-- Map -->
    <div class="map-bottom" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501288.65769124!2d107.92424892657849!3d11.014777655176106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3176c3f2d68f59a1%3A0x2737428edf34c28e!2zQsOsbmggVGh14bqtbiwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1653730211190!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</main>
<!-- /Content -->


@section Scripts {


}