@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content -->
<main class="main">
    <section class="container section section-first">
        <div class="row">
            <div class="col-12">
                <h1 class="title title--h1 js-lines">Liên hệ.</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-contact js-scroll-show">
                <h4 class="title title--h4">Địa chỉ</h4>
                <p class="paragraph">Tân Thuận, Hàm Thuận Nam, tỉnh Bình Thuận, Việt Nam</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-contact js-scroll-show">
                <h4 class="title title--h4">Liên hệ</h4>
                <p class="paragraph">
                    Email: larahomestayinvietnam@gmail.com
                    <br>Hotline: 
                    <a href="tel:037 637 2155"></a>
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-contact js-scroll-show">
                <h4 class="title title--h4">Theo dõi chúng tôi</h4>
                <p class="paragraph">Kết nối với chúng tôi qua <a class="link-underline" href="https://www.facebook.com/larahomestay/">facebook</a><br> hoặc 
                <a class="link-underline" href="https://www.instagram.com/larahomestay">instagram</a></p>
            </div>
        </div>
    </section>

    <!-- Map -->
    <div class="map-bottom" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.152914689615!2d107.88594871526016!3d10.72268666311428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175d2274a9d0d77%3A0xf245cdf7e9d4f756!2sLara%20Homestay!5e0!3m2!1svi!2s!4v1653919466722!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>
<!-- /Content -->


@section Scripts {


}