@model AboutViewModel
    <!-- FOOTER START -->
@{
    string url = Convert.ToString(ViewBag.Url);
}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12" style="background:#0000">
                <p style="color: #000;margin-top: 10px;">LAURA HOMESTAY</p>
                <p style="color: #000;margin-bottom: 3px;">
                    Hotline:
                    037 637 2155
                </p>
                <p style="color: #000;margin-bottom: 3px;">Email: larahomestayinvietnam@gmail.com</p>
                <p style="color: #000;margin-bottom: 3px;">Địa chỉ: Lara Homestay, PVFQ+37C, Tân Thuận, Hàm Thuận Nam, Bình Thuận</p>
                <strong style="color: #f00;font-size: 13px;margin: 0px;">Thời gian làm việc</strong>
                <p style="color: #f00;font-size: 12px;margin: 0px;">Luôn mở cửa</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style="background:#0000">
                <h5>Chính sách mua hàng</h5>

                <li style="background:#0000"><a href="/" title="Chính sách bảo hành, đổi trả">Chính sách bảo hành, đổi trả</a></li>

                <li style="background:#0000"><a href="/" title="Chính sách bảo mật thông tin">Chính sách bảo mật thông tin</a></li>

                <li style="background:#0000"><a href="/" title="Chính sách giao nhận và thanh toán">Chính sách giao nhận và thanh toán</a></li>

                <li style="background:#0000"><a href="/" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a></li>

                @*<li style="background:#0000"><a href="account/register" title="Đăng ký thành viên">Đăng ký thành viên</a></li>*@

            </div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" style="background:#0000">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flarahomestay&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="1000px" height="200px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
        <div class="row">
            <section class="col-sm-12 col-xs-12 ">
                <ul class="topnav">
                </ul>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/larahomestay" data-tabs="timeline" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=&amp;container_width=0&amp;height=200&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Ficdayroi&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline"><span style="vertical-align: bottom; width: 340px; height: 0px;"><iframe name="f5bbc2b92494a" width="1000px" height="200px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.6/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3d6bb49da0e84c%26domain%3Dicdayroi.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Ficdayroi.com%252Ff8d950d6153ac4%26relation%3Dparent.parent&amp;container_width=0&amp;height=200&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Ficdayroi&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline" class="" style="border: none; visibility: visible; width: 340px; height: 0px;"></iframe></span></div>
                </div>
            </section>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 f-mid-1">
                <h5>Hỗ trợ thanh toán</h5>
                <img src="//bizweb.dktcdn.net/thumb/small/100/190/540/themes/510789/assets/payment-1.jpg?1651628846677" height="40" width="65" alt="Master Card">
                <img src="//bizweb.dktcdn.net/thumb/small/100/190/540/themes/510789/assets/payment-2.jpg?1651628846677" height="40" width="65" alt="Visa">
                <img src="//bizweb.dktcdn.net/thumb/small/100/190/540/themes/510789/assets/payment-3.jpg?1651628846677" height="40" width="65" alt="Tiền mặt">
                <img src="//bizweb.dktcdn.net/thumb/small/100/190/540/themes/510789/assets/payment-4.jpg?1651628846677" height="40" width="65" alt="Chuyển khoản">
                <img src="//bizweb.dktcdn.net/thumb/small/100/190/540/themes/510789/assets/payment-5.jpg?1651628846677" height="40" width="65" alt="ATM nội địa">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 f-mid-2">
                <h5>Giải đáp thắc mắc</h5>
                <div class="f-mid-2-1">
                    <p>Tư vấn miễn phí (24/7)</p>
                    <p><a href="tel:(037) 6372155" title="Số điện thoại: (037) 6372155">(037) 6372155</a></p>
                </div>
                <div class="f-mid-2-2">
                    <p>Góp ý, phản ánh (8h00 - 20h00)</p>
                    <p><a href="tel:037 637 2155" title="Số điện thoại: 037 637 2155">037 637 2155</a></p>
                </div>
                <a >
                    <img src="//bizweb.dktcdn.net/100/190/540/themes/510789/assets/bocongthuong.png?1651628846677" style="height: 70px;margin-top: 10px;">
                </a>
            </div>
          
        </div>
    </div>
</footer>