@{
    ViewData["Title"] = "Đặt Phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content -->
<main class="main reservation-page">
    <div class="reservation-page__left">
        <div class="reservation-page__wrap">
            <h2 class="title title--h2 text-center">Đặt phòng</h2>
            <p class="paragraph text-center">Hãy đặt phòng ngay bây giờ và bắt đầu chuyến phiêu lưu kỳ thú đầy khám phá và trải nghiệm cùng chúng tôi.</p>
            <form class="row mt-2 mt-sm-4">
                <div class="col-12">
                    <div class="form-group">
                        <label class="label" for="name">Họ và tên</label>
                        <div class="position-relative">
                            <input type="text" class="inputText inputText__icon" id="name" name="name" placeholder="Nhập họ và tên" required="required" autocomplete="off">
                            <span class="input-icon icon-user"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label" for="email">Email</label>
                        <div class="position-relative">
                            <input type="email" class="inputText inputText__icon" id="email" name="email" placeholder="Nhập e-mail" required="required" autocomplete="off">
                            <span class="input-icon icon-mail"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label" for="phone">Số điện thoại</label>
                        <div class="position-relative">
                            <input type="tel" class="inputText inputText__icon" id="phone" name="phone" placeholder="Nhập số điện thoại" required="required" autocomplete="off">
                            <span class="input-icon icon-phone"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label" for="check-in">Ngày nhận phòng</label>
                        <div class="position-relative">
                            <input type="text" class="inputText inputText__icon readonly js-datepicker" id="check-in" name="check-in" placeholder="Chọn ngày nhận" required="required" autocomplete="off">
                            <span class="input-icon icon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label" for="check-out">Ngày trả phòng</label>
                        <div class="position-relative">
                            <input type="text" class="inputText inputText__icon readonly js-datepicker" id="check-out" name="check-out" placeholder="Chọn ngày trả" required="required" autocomplete="off">
                            <span class="input-icon icon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label" for="person-adult">Người lớn</label>
                        <div class="js-quantity">
                            <span class="qty-minus icon-minus"></span>
                            <input type="number" class="inputText js-quantity-input" id="person-adult" name="person-adult" value="0" min="1" max="8" required="required" autocomplete="off">
                            <span class="qty-plus icon-plus"></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form-group">
                        <label class="label" for="person-kids">Trẻ em</label>
                        <div class="js-quantity">
                            <span class="qty-minus icon-minus"></span>
                            <input type="number" class="inputText js-quantity-input" id="person-kids" name="person-kids" value="0" min="0" max="8" autocomplete="off">
                            <span class="qty-plus icon-plus"></span>
                        </div>
                    </div>
                </div>
               
                <div class="col-12 col-sm-6 mt-2 mt-sm-3 order-2 order-sm-1">
                    <a href="home.html" class="btn btn__medium btn__second w-100">Hủy</a>
                </div>
                <div class="col-12 col-sm-6 mt-2 mt-sm-3 order-1 order-sm-2">
                    <a href="/thanh-toan" class="btn btn__medium w-100">Tiếp tục</a>
                </div>
            </form>
        </div>
    </div>
    <div class="reservation-page__right js-image" data-image="/assets/images/image_header_02.jpg"></div>
</main>
<!-- /Content -->